.ListItem {
    display: flex;
    align-items: end;
    gap: 30px;
    height: 224;
    padding: 40px;
    background-color: white;
    border-radius: 16px;
}

.infoBox {
    flex-grow: 1;
    padding: 10px;
    text-align: start;
}

.ratingBox {
    padding: 10px;
    min-width: 200px;
}

.ratingItem {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    gap: 15px;
    margin-bottom: 5px;
}
